src/main/resources/Soma_QualitativeStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified">
    <xs:element name="AvailabilityChange">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Item">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Extn">
                                <xs:complexType>
                                    <xs:attribute name="FSWeeks" type="xs:string"/>
                                    <xs:attribute name="FactoryShipLeadTimeQty" type="xs:string"/>
                                    <xs:attribute name="FactoryShipLeadTimeUOM" type="xs:string"/>
                                    <xs:attribute name="FactoryShipInventoryIndicator" type="xs:string"/>
                                    <xs:attribute name="WhseClass" type="xs:string"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="SubItemID">
                            <xs:simpleType>
                                <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="QualitativeStatus" type="xs:string"/>
                        <xs:attribute name="ItemID">
                            <xs:simpleType>
                                <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="FirstFutureAvailableDate">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:attribute>
            <xs:anyAttribute namespace="##any" processContents="skip"/>
        </xs:complexType>
    </xs:element>
</xs:schema>